5/TDP/3. XML/5. lettera/lettera.xmlschema.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="lettera" type="tipo_lettera" />
    <xsd:complexType name="tipo_lettera">
        <xsd:sequence>
            <xsd:element name="mittente" type="xsd:string" />
            <xsd:element name="data" type="xsd:string" />
            <xsd:element name="destinatario" type="xsd:string" />
            <xsd:element name="oggetto" type="xsd:string" />
            <xsd:element name="saluto" type="xsd:string" />
            <xsd:element name="corpo" type="tipo_corpo" />
            <xsd:element name="chiusura" type="xsd:string" />
            <xsd:element name="firma" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipo_corpo">
        <xsd:sequence>
            <xsd:element name="paragrafo" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
