5/TDP/3. XML/1. books-articolo/books.dtd

<!ELEMENT books (book*)>
<!ELEMENT book (entry,author,articleLink?)>
<!ELEMENT entry (title, publisher)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT articleLink EMPTY>
<!ELEMENT title (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ATTLIST entry isbn CDATA #REQUIRED>
<!ATTLIST articleLink href CDATA #REQUIRED>
